$font-title: "Shrikhand-Regular";

header {
  display: flex;
  align-items: center;
}

img {
  width: 50%;
}

#logo {
  align-items: center;
}

.location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(230, 225, 225);
}

.location i {
  font-size: 150%;
  color: grey;
}
